{% extends 'base.html' %}
{% block title %}Bracelets |{% endblock title %}

{% block body%}
    <div class="container my-3">
        <hr>
        <h4 class= "my-2 text-center"> Bracelet Collection</h4>
        <hr>
        

    <div class="album py-5 bg-light">
        <div class="container">
            {% comment %} Aranges images into rows and columns {% endcomment %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                {% comment %} Bracelet 1 {% endcomment %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://source.unsplash.com/hXhMzWysB8s/500x900" class="d-block w-100" alt="...">

                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/admin"
                                        <button type="button" class="btn btn-sm btn-outline-secondary" >Add to Cart</button>
                                    </a>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} Bracelet 2 {% endcomment %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://source.unsplash.com/onU-LlrPs8I/500x900" class="d-block w-100" alt="...">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/admin"
                                        <button type="button" class="btn btn-sm btn-outline-secondary" >Add to Cart</button>
                                    </a>  
                               </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} Bracelet 3 {% endcomment %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://source.unsplash.com/hh9fmCZvvZ4/500x900" class="d-block w-100" alt="...">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/admin"
                                        <button type="button" class="btn btn-sm btn-outline-secondary" >Add to Cart</button>
                                    </a>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} Bracelet 4 {% endcomment %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://source.unsplash.com/oO0JAOJhquk/500x900" class="d-block w-100" alt="...">

                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/admin"
                                        <button type="button" class="btn btn-sm btn-outline-secondary" >Add to Cart</button>
                                    </a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} Bracelet 5 {% endcomment %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://source.unsplash.com/khmkI4x3tL0/500x900" class="d-block w-100" alt="...">

                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/admin"
                                        <button type="button" class="btn btn-sm btn-outline-secondary" >Add to Cart</button>
                                    </a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} Bracelet 6 {% endcomment %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://source.unsplash.com/TWIdnMpkwdM/500x900" class="d-block w-100" alt="...">

                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/admin"
                                        <button type="button" class="btn btn-sm btn-outline-secondary" >Add to Cart</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} Bracelet 7 {% endcomment %}
                <div class="col">
                    <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/TWIdnMpkwdM/500x900" class="d-block w-100" alt="...">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/admin"
                                        <button type="button" class="btn btn-sm btn-outline-secondary" >Add to Cart</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} Bracelet 8 {% endcomment %}
                <div class="col">
                    <div class="card shadow-sm">
                    <img src="https://source.unsplash.com/bNo3UcixWF8/500x900" class="d-block w-100" alt="..."> 
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/admin"
                                        <button type="button" class="btn btn-sm btn-outline-secondary" >Add to Cart</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% comment %} Bracelet 9 {% endcomment %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://source.unsplash.com/I89WziXZdVc/500x900" class="d-block w-100" alt="..."> 
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="/admin"
                                            <button type="button" class="btn btn-sm btn-outline-secondary" >Add to Cart</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body%}